@model challenges.Models.GoalMetric
@{
    ViewData["Title"] = "Edit Goal Metric";
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Edit Goal Metric</strong>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="GoalMetricId" />
                    <div class="form-group">
                        <label asp-for="GoalMetricDisplay" class="control-label"></label>
                        <input asp-for="GoalMetricDisplay" class="form-control" />
                        <span asp-validation-for="GoalMetricDisplay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GoalMetricDbName" class="control-label"></label>
                        <input asp-for="GoalMetricDbName" class="form-control" />
                        <span asp-validation-for="GoalMetricDbName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
