@model IEnumerable<challenges.Models.Activity>

@{
    ViewData["Title"] = "Challenge Activity Index";
}

<div class="card">
    <div class="card-header">
        <strong class="card-title">Challenge Activity Index</strong> <a asp-action="Create" class="btn btn-sm btn-success">Create New</a> 
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityName)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ActivityId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
